:root {
  --font-body: var(--font-source-sans), sans-serif; 
  --text-color:#212121;
  --merriweathe: var(--merriweather)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

 body{
  font-family: var(--font-body);
 }

 
